<link rel="shortcut icon" type="image/png" href="app/assets/images/rlogo.png">

<h1 class="index_title">Available Friends</h1>

<div class="container">
  <div class="cards">
    <% @friends.each do |f| %>
      <div class="card-trip">
        <h5 class="location-title"><%= f.first_name %></h5>
        <div class="friend-index-pic">
          <a href="/friends/<%= f.id %>"><%= cl_image_tag f.photo.key, class: 'cl_img' %></a>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2><%= f.location.split[0] + ' ' + f.location.split[1] %></h2>
          </div>
          <h2 class="card-trip-pricing">£ <%= f.daily_rate %> per day</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
