  <link rel="shortcut icon" type="image/png" href="app/assets/images/rlogo.png">

<h1 class="index_title">Available Friends</h1>

<div class="container">
  <div style="width: 100%; height: 300px;" class="mappy" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="container">
  <div class="cards">
    <% @friends.each do |f| %>
      <div class="card-trip">
        <h5 class="first-name"><%= f.first_name %></h5>
        <div class="friend-index-pic">
          <a href="/friends/<%= f.id %>"><%= cl_image_tag f.photo.key, class: 'cl_img' %> <span>hello</span></a>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2><%= f.location %></h2>
          </div>
          <h2 class="card-trip-pricing">£ <%= f.daily_rate %> per day</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div> %>
