<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://user-images.githubusercontent.com/84845571/187489374-b3b23746-81ca-4b2a-ad58-6bc7a817ebb1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

      <%= simple_form_for :search do |f| %>
        <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
      <% end %>


      <%= simple_form_for :search do |f| %>
        <%= f.input :age, collection: 18..60, prompt: "Select your age", selected: 21 %>
      <% end %>

      <%= simple_form_for :search do |f| %>
        <%= f.input :city_id, collection: @continents, as: :grouped_select, group_method: :countries %>
      <% end %>


      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :name, input_html: {value: ""} %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>



      <p>categories</p>
      <select class="select" data-mdb-filter="true">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
        <option value="9">Nine</option>
        <option value="10">Ten</option>
      </select>

        <% if user_signed_in? %>

          <li class="nav-item active">
            <%= link_to "See all friends", friends_path , class: "nav-link" %>
          </li>

          <% if current_user.friends.empty? %>
            <li class="nav-item">
              <%= link_to "Become a friend", new_friend_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%#= link_to "Become a friend", new_friend_path, class: "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item dropdown">

          <% if current_user.friends.empty? %>
              <%= image_tag "https://images.unsplash.com/photo-1633536838356-80807d2321d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3x2YjVhQ1RjTVhQUXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=900&q=60",  class: "avatar-large", alt: "avatar-large", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
              <%= cl_image_tag current_user.friends.first.photo.key, class: "avatar-large", alt: "avatar-large", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

            <%#= image_tag "https://i.guim.co.uk/img/media/ae14333615408ab5d5ba6c23810be683e0d6f631/389_282_1481_889/master/1481.jpg?width=620&quality=45&fit=max&dpr=2&s=e40d632881019e92b1a02cf125d235f9", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your Profile", user_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
